.video--card {
  height: 30rem;
  max-height: 30rem;
  margin: 0 auto;
}

.item--image {
  min-height: 05rem;
  height: 30rem;
  max-height: 20rem;
}

.img--fitheight {
  height: 100%;
}

.card--detail {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 5px;
}

.card--btns {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: auto;
  width: 100%;
}

.card-btn {
  width: 100%;
}

.card--price {
  display: flex;
  gap: 4px;
}

.category--tag {
  border: solid 2px var(--white);
  padding: 4px;
  width: fit-content;
  border-radius: 5px;
  margin-left: auto;
}
