.header--dark {
  background-color: var(--dark-background-color);
}

.logo {
  display: flex;
  align-items: center;
  min-width: fit-content;
}

.logo--img {
  height: 40px;
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .logo--img {
    height: 30px;
  }
}

